[submodule "visitor-backend"]
	path = visitor-backend
	url = https://github.com/Jourice/ReserveTable-visitor-backend.git
[submodule "organizaion-backend"]
	path = organizaion-backend
	url = https://github.com/Jourice/ReserveTable-organization-backend.git
